@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.contenedor{
    display: flex;
    flex-direction: column wrap;
    width: 95%;
    justify-content: center;
    margin-top: 30px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #f39950;
}
.form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 80%;
    padding: 20px;
    background-color:#f39950;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 5px solid whitesmoke;
    border-radius: 20px;
    
}
.form h3{
    font-family: "Noto Sans", sans-serif;
    color: whitesmoke;
    font-size: clamp(22px, 3vw, 26px);
    margin-bottom: 20px;
}
.form_fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    border: none;
    margin: 5px 0;
}
.form_fieldset_input {
    width: 90%;
    height: 25px;
}
label{
    font-family: "Noto Sans", sans-serif;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.form_button_submit {
    align-items: center;
    width: 60%;
    height: 30px;
    margin: 10px 20px;
    color: black;
    border-radius: 10px;
    text-align: center;
}
.form_button_submit {
    width: 30%;
    height: 40px;
    border-radius: 10px;
    background-color: #D17100;
    color: whitesmoke;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 700;
}
.form_button_submit:hover{
    cursor: pointer;
    scale: 1.1;
}