<div class="container">
    <nav class="navbar">
        <ul>
            @if((hayToken && soyAdmin)){
                <li routerLink="/adminFilms">
                    <img  class="icon" src="../../../assets/managementFilms.png" title="Administrar Películas">
                </li>
                <li routerLink="/adminUsers">
                    <img  class="icon" src="../../../assets/managementUser.png" title="Administrar Usurarios">
                </li>
            }
            @if(hayToken){ 
                <li  routerLink="/films" routerLinkActive="active">
                    <img  class="icon" src="../../../assets/video.png" title="Films">
                </li>
                <button class="nav_ul_li_button" type = "button" (click) = "doLogout()" routerLink="/">Cerrar Sesión</button>
            }@else {
                <li  routerLink="/" routerLinkActive="active">
                    <img class="icon" src="../../../assets/home.png" title="Home">
                </li>
                
                <li  routerLink="/login" routerLinkActive="active">
                    <img class="icon" src="../../../assets/login.png" title="Login">
                </li>
            }
        </ul>
    </nav>
</div>
