@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    width: 95%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F68F23;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.5;
    margin: 20px;
    transition: opacity 0.3s ease;
}

.container:hover .navbar {
    opacity: 1; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar li {
    flex: 1;
    text-align: center;
}

.navbar li img {
    width: 32px;
    height: 32px;
    filter: drop-shadow(2px 2px 2px #976B47);
}
