@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #FFEACE;
  margin: 0;
  padding: 0;
  width: 100%;
}

.registerText {font-family: "Catamaran", sans-serif;
  font-weight: bold;
  padding: 10px;
  color: #976B47;
}

p{font-family: "Noto Sans", sans-serif;
font-size: 10px;
color: #976B47;
}

form {
    padding: 40px;
    border:none;
    border-radius: 5px;
}
  
  label {
    display: block;
    margin-bottom: 8px;
  }
   
  input {
    font-family: "Noto Sans", sans-serif;
    width: 90%;
    padding: 1em;
    border: none;
     color: #976B47;
    background-color: #FFEACE;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  input:focus {
    outline: none;
    border-color: #005247;
    background-color: #f1d0ad;
  }

  
  .submitButton {
    font-family: "Noto Sans", sans-serif;
    background-color:#F68F23;
    color: #FFEACE;
  width: 30vh;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 4vh;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #976B47);
  }

.submitButton:hover {
  background-color: #D17100; 
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
  .alreadyMember {border: none;
    background: none;
    font:bolder;
    outline: none;
  color: #005247;
  font-size: 10px;
  font-family: "Noto Sans", sans-serif;
}
  .registerBtn {border: none;
    background: none;
    font:bolder;
    outline: none;
  color: #005247;
  font-size: 10px;
  font-family: "Noto Sans", sans-serif;
}
.registrate {
  padding: 40px;
  color: #976B47;
}

.pulsa {padding:40px;}

.iniciarSesion {
  height: 90vh;
  padding: 20px;
}

.iniciar {font-family: "Catamaran", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-left: 4vh;
  color:#976B47
}

p{font-family: "Noto Sans", sans-serif;
font-size: 10px;
color: #976B47;
}

form {
    padding: 40px;
    border:none;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
   
  input {
    font-family: "Noto Sans", sans-serif;
    width: 90%;
    padding: 1em;
    border: none;
    color: #976B47;
    background-color: #FFEACE;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  input:focus {
    outline: none;
    border-color: #005247;
    background-color: #f1d0ad;
  }

  
.submitButton {
    font-family: "Noto Sans", sans-serif;
    background-color:#F68F23;
    color: #FFEACE;
    width: 30vh;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 4vh;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #976B47);
  }



.submitButton:hover {
  background-color: #D17100; 
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.alreadyMember {border: none;
    background: none;
    font:bolder;
    outline: none;
    color: #005247;
    font-size: 10px;
    font-family: "Noto Sans", sans-serif;
}

.registerBtn {border: none;
    background: none;
    font:bolder;
    outline: none;
    color: #005247;
    font-size: 10px;
    font-family: "Noto Sans", sans-serif;
}
.registrate {
  padding: 40px;
  color: #976B47;
}

.pulsa {
  padding:40px;
}

.iniciarSesion {
  padding: 20px;
}

.iniciar {font-family: "Catamaran", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-left: 4vh;
  color:#976B47
}