<div class="contenedor">
    <form class="boxFilms" [formGroup]="searcherFilm" (ngSubmit)="searchFilm()">
        <label class="titleBox">Filtrar película por nombre</label>
        <input class="textBox" type="text" formControlName="film" placeholder="introducir título" />
        <button [disabled]="!searcherFilm.valid" type="submit">Buscar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>ID</th>
                <th>Título</th>
            </tr>
        </thead>
        <tbody>
            @for (film of (filmsFiltered.length >0 ? filmsFiltered: films); track film._id) {
            <tr>
                <td><img [src]="film.img"/></td>
                <td>{{ film._id }}</td>
                <td> {{ film.title }} </td>
            </tr>
        }
        </tbody>
    </table>
</div>

