<div class="contenedor">
    <form class="titleInputAndButtonUsers" [formGroup]="searcherUser" (ngSubmit)="searchUser()">
        <label>Filtra los usuarios por nombre</label>
        <fieldset class="inputAndButtonUsers">
            <input type="text" formControlName="user" placeholder="Introduzca nombre" />
            <button type="submit">Buscar</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>ID</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            @for (user of (usersFiltered.length > 0 ? usersFiltered : users); track user._id) {
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user._id }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>