@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.contenedor{
    bottom: 0; 
    background-color: #FFEACE;
    margin: 20px;
    padding: 0;
    width: 95%;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
} 

.contenedor p{
    font-family: "Catamaran", sans-serif;
    text-align: center;  
    font-size: x-small;
    font-weight: bold;
    padding: 1px;
    color: #976B47;
}